# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=event_management

# Server Configuration
PORT=3000
DATABASE_URL=postgresql://postgres:your_password_here@db:5432/event_management?schema=public

# Security
JWT_ACCESS_SECRET=your_access_token_secret_here
JWT_REFRESH_SECRET=your_refresh_token_secret_here

# Client Configuration
FRONTEND_URL=http://localhost:5173

# Groq API Key
GROQ_API_KEY=your_groq_api_key_here

# Docker configuration
CHOKIDAR_USEPOLLING=true
